body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
  display: flex;
  flex-direction: column; 
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  display: flex;
  justify-content: space-between; /* Aligns items at each end of the flex container */
  padding: 8px 16px; /* Adds space around the content */
}

.left-section {
  display: flex;
  align-items: center; /* Aligns items vertically in the left section */
}

.right-section {
  display: flex;
  align-items: center; /* Aligns items vertically in the right section */
}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-left: 16px; /* Adds space between the button and the profile image */
}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
  margin-right: 16px; /* Adds space between the logo and the links */
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
}

a {
  text-decoration: none;
  color: rebeccapurple;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0; /* Removes default margin from the ul */
  padding: 0; /* Removes default padding from the ul */
}

li {
  margin-right: 16px; /* Adds space between the links */
}
